page-page1 {
    text-align: center;
    
.big{
    background-color: aliceblue;
    }

.name{
    font-size: 50px;
    color: black;
    }

    .btn{
        text-align: center;
        padding: 14px 16px;
    }

    .btn :hover{
        // background-color: aliceblue;
    }

    .wrap{
        text-align: center;
        font-size: 60px;
    }

    .icons :hover{
        background-color: aliceblue;
    }
}

