<!--
  Generated template for the Page1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar></ion-navbar>
<img src="../../assets/imgs/mlab-green-2.png">
</ion-header>


<ion-content padding class="big">
    <div class="wrap">
          <ion-list *ngFor ="let v of arrName">
            <ion-label class="Name">{{v.firstName}}</ion-label>
        </ion-list>

        <ion-list *ngFor ="let v of arrName">
          <ion-label class="Name">{{v.lastName}}</ion-label>
        </ion-list> 
    </div> 

    <div class="btn">
        <button ion-button block color = "orange" (click) = "About()"> About Us </button>
        <a href="https://www.mlab.co.za/labs/"><button ion-button type="submit" block color = "orange" >Labs</button></a>
        <button ion-button type="submit" block color = "orange" (click) = "News ()">News </button>
       <a href="https://www.mlab.co.za/contact-us/"> <button ion-button type="submit" block color = "orange" >Contact Us </button></a>
    </div>

    <footer class="icons">
        <ion-icon name="home"></ion-icon>
 
     </footer>
</ion-content>
